<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings>
        <add key="IP" value="10.167.224.54"/>
        <add key="BD" value="stage2"/>
        <add key="UTILISATEUR" value="admin_user"/>
        <add key="MOTDEPASSE" value="kreyderslam2!"/>
        <add key="PORT" value="3306"/>
    </appSettings>
</configuration>